{{range first 1 (where .Site.RegularPages "Type" "==" "posts")}}
<article>
  <h4>
    <a target="_blank" href="{{ .URL | absURL }}">
      {{ .Title }}
    </a>
  </h4>
  {{ if .Date }}
    <p class="date">
      <small>{{ .Date.Format "2 January 2006" }}</small>
    </p>
  {{ end }}

  <div class="content">
    {{ .Content  }}
  </div>
</article>
{{end}}