{{ define "footerfiles" }}
{{ end }}
{{ define "main" }}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray" >
    <!-- the form is now define in partials/social-follow.html
    <form action="{{ "search/" | absURL }}">
      <input id="search-query" name="s"/>
    </form> -->
    <div id="search-results">
     <h2 id="matching-pages">Matching pages</h2>
    </div>
  </div>
</section>
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>
<script>
  var site_baseurl = "{{.Site.BaseURL}}"
</script>
<script src="{{ "js/search.js" | absURL }}"></script>
{{ end }}
